@page
@model ContactBook.Application.Pages.Contacts.ClientContactBookModel
@{
    ViewData["Title"] = "ClientContactBook";
}

<h2>Client ContactBook</h2>

@section Scripts {

    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <link href="~/node_modules/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />

}

@section Scripts {
    <script>
        $(function () {

            $.ajax("/api/contacts/",
                { method: "get" })
                .then(function (response) {
                    console.dir(response);
                });
        });
    </script>
}


