@page "{contactId}"
@model ContactBook.Application.Pages.Contacts.DeleteModel
@{
}
    <h2>You are about to delete a contact</h2>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Contact.Name
    </div>
    <form  method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a class="btn btn-default" asp-page="./List">Cancel</a>
    </form>
