@page "{contactId:int}"

@model DetailModel
@{
    ViewData["Title"] = "Contact Detail";
}

<h1>Contact Details</h1>

<p>Name : @Model.contact.Name</p>
<p>Nationality : @Model.contact.Nationality</p>
<p>Address : @Model.contact.Address</p>
<p>Number : @Model.contact.Number</p>


<a asp-page="./List">Contacts</a>
