@page
@model ListModel
@{
}
<h1>Contacts</h1>

<form method="GET">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search">

                    </i>
                </button>
            </span>
        </div>

    </div>

</form>


<table class="table">
    @foreach (var contact in Model.contacts)
    {
    <tr>
        <td>@contact.Name</td>
        <td>@contact.Address</td>
        <td>@contact.Nationality</td>
        <td>@contact.Number</td>
    </tr>
    }
</table>