@page
@model ListModel
@{
}

<table class="table">
    @foreach (var contact in Model.contacts)
    {
    <tr>
        <td>@contact.Name</td>
        <td>@contact.Address</td>
        <td>@contact.Nationality</td>
        <td>@contact.Number</td>
    </tr>
    }
</table>